<div>
<a href="#/templates">Go Back</a>
<br><br>
<div class="col-md-4">
<img class="img-full" src="img/blue.png">
</div>
<div class="col-md-8">
<h3>Blue template</h3>
<p> perfectly clean, creative and minimal design offering numerous sections to create a great website which is suitable for personal portfolio, creative studio. This brilliant and minimal design was fine-tuned the smallest elements to ensure a free-from-flaws template which is suited for all engaging creative sites.</p>
<h4>$19.99</h4>
BUY IT
</div>
</div>