<div class="row">
  <div class="col-md-4 templates">
  		<h3>Blue template</h3>
  		<img src="img/blue.jfif">
  		<h4>$19.99</h4>
  		<a class="btn btn-primary btn-block" href="#!/templates/1">Details</a>
  </div>
  <div class="col-md-4 templates">
  		<h3>Red template</h3>
  		<img src="img/red.jfif">
  		<h4>$19.99</h4>
  		<a class="btn btn-primary btn-block" href="#!/templates/2">Details</a>
  </div>
  <div class="col-md-4 templates">
  		<h3>Yellow template</h3>
  		<img src="img/yellow.jfif">
  		<h4>$19.99</h4>
  		<a class="btn btn-primary btn-block" href="#!/templates/3">Details</a>
  </div>
  <div class="col-md-4 templates">
  		<h3>Purple template</h3>
  		<img src="img/purple.jfif">
  		<h4>$19.99</h4>
  		<a class="btn btn-primary btn-block" href="#!/templates/4">Details</a>
  </div>
  <div class="col-md-4 templates">
  		<h3>Green template</h3>
  		<img src="img/green.jfif">
  		<h4>$19.99</h4>
  		<a class="btn btn-primary btn-block" href="#!/templates/5">Details</a>
  </div>
  <div class="col-md-4 templates">
  		<h3>Pink template</h3>
  		<img src="img/pink.png">
  		<h4>$19.99</h4>
  		<a class="btn btn-primary btn-block" href="#!/templates/6">Details</a>
  </div>

</div>